<div class="wrapper resume-repports-wrapper">
    {{> home/home-resume-reports }}
</div>

<div class="wrapper transactions-wrapper">
    {{> home/home-transactions }}
</div>

<div class="wrapper totals-wrapper">
    {{> home/home-totals }}
</div>  

<div class="wrapper graphics-wrapper">
    {{> home/home-graphics }}
</div>   