<div class="view-totals">
    <div class="row">
        <div class="col s12 l6 account-resume">
            <div class="card">
                <div class="card-content">
                    <h3><i class="material-icons">account_balance</i><span>Resumo da conta</span></h3>

                    <div class="row">
                        <div class="col s12 m6 average-ticket sub-card">
                            <div class="row">
                                <div class="col s12 m3 subcard-icon">
                                    <i class="material-icons">shopping_cart</i>
                                </div>

                                <div class="col s12 m9 subcard-content">
                                    <div class="subcard-header">
                                        Ticket Médio
                                    </div>
                                    <div class="subcard-body">
                                        R$ 685,00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 volume sub-card">
                            <div class="row">
                                <div class="col s12 m3 subcard-icon">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                
                                <div class="col s12 m9 subcard-content">
                                    <div class="subcard-header">
                                        Volume
                                    </div>
                                    <div class="subcard-body">
                                         R$ 42.125,00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 l6 pay-methods">
            <div class="card">
                <div class="card-content">
                    <h3><i class="material-icons">compare_arrows</i><span>Meios de pagamento</span></h3>

                     <div class="row">

                        <div class="col s12 m3 credit sub-card">
                            <div class="row">
                                <div class="col s12 subcard-content">
                                    <div class="subcard-header">
                                        Credito
                                    </div>
                                    <div class="subcard-body">
                                        48%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m3 debit sub-card">
                            <div class="row">
                                <div class="col s12 subcard-content">
                                    <div class="subcard-header">
                                        Debito
                                    </div>
                                    <div class="subcard-body">
                                        32%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m3 ticket sub-card">
                            <div class="row">
                                <div class="col s12 subcard-content">
                                    <div class="subcard-header">
                                        Boleto
                                    </div>
                                    <div class="subcard-body">
                                        18%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m3 gift sub-card">
                            <div class="row">
                                <div class="col s12 subcard-content">
                                    <div class="subcard-header">
                                        Gift Card
                                    </div>
                                    <div class="subcard-body">
                                        2%
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>