<div class="view-report card">
    <div class="row">
        <div class="col s12 m3">
            <div class="stores">
                <div class="input-field">
                    <select id="stores" class="select">
                        <option value="Todas">Todas</option>
                        <option value="Loja 1">Loja 1</option>
                    </select>
                    <label for="stores"><i class="material-icons">store</i> <span>Loja</span></label>
                </div>
            </div>
            <div class="report-type">
                <div class="input-field">
                    <select id="reports" class="select">
                        <option value="Transações">Transações</option>
                        <option value="Relatório 1">Relatório 1</option>
                    </select>
                    <label for="reports"><i class="material-icons">assignment</i> <span>Tipo de relatório</span></label>
                </div>
            </div>
        </div>
        <div class="col s12 m9 home-cards">
            <div class="row">
                
                <div class=" col offset-s0 offset-m2 s12 m3 last24Hours">
                    <h3><span>Últimas 24 horas</span></h3>
                    <div class="card">
                        
                        <div class="card-content">
                            <span class="card-title">
                                29/05/2018
                            </span>
                            <div class="card-body">
                                <p class="centered positive">15%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 lastWeek">
                    <h3><span>Últimos 7 dias</span></h3>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                de 22/05/2018 até 29/05/2018
                            </span>
                            <div class="card-body">
                                <p class="centered negative">3%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 lastMonth">
                    <h3><span>Últimos 30 dias</span></h3>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">
                                de 28/04/2018 até 29/05/2018
                            </span>
                            <div class="card-body">
                                <p class="centered positive">13%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>