<div class="view-transactions">
    <div class="row">
        <div class="col s12 m6 l2">
            <div class="stores">
                <div class="input-field">
                    <select id="transactions" class="select">
                        <option value="Todas">Todas</option>
                        <option value="Loja 1">Loja 1</option>
                    </select>
                    <label for="transactions"><i class="material-icons">compare_arrows</i> <span>Transações</span></label>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l2 transaction default">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h3>Total</h3>
                    </div>
                    <div class="card-body">
                        455
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l2 transaction success">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h3>Aprovadas</h3>
                    </div>
                    <div class="card-body">
                        400
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l2 transaction error">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h3>Recusadas</h3>
                    </div>
                    <div class="card-body">
                        5
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l2 transaction deactive">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h3>Boletos</h3>
                    </div>
                    <div class="card-body">
                        30
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l2 transaction alert">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h3>Estornos</h3>
                    </div>
                    <div class="card-body">
                        20
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>