.header-wrapper{
    min-height: 1px;
    width: 100%;
    position: relative;
    min-height: 63px;

    .header-content{
        position: fixed;
        left: 0;
        top: 0;
        padding-left: 300px;
        background: map-get($cores, 'azul-claro');
        width: 100%;
        min-height: 63px;
        z-index: 999996;
        transition: padding 300ms ease-in-out;

        @media screen and ($mobile){
            padding-left: 62px;
        }

       .row{
            margin-bottom: 0;
        }
    }


    .header-left{
        .menu-btn{
            color: white;
            padding: 12px 0;
            display: block;
        }
    }

    i{
        font-size: 35px;
    }

    .header-center{
        .logo-wrapper{
            .logo{
                color: white;
                font-size: 25px;
                font-family: 'folio_bold';
                i{
                    display: inline-block;
                    margin-right: 10px;
                    font-style: normal;

                    &:before{
                        font-family: "bpag";
                        content: "\e900";
                        display: block;
                        font-size: 40px;
                    }
                }
            }
        }

        .uoldiveo-wrapper{
            .logo-uoldiveo{
                text-align: center;
                color: white;
                line-height: 63px;

                & > i{
                    font-size: 25px;
                }
            }
        }
    }

    .header-right{
        .account-btn{
            color: white;
            padding: 12px 0;
            display: block;
        }
    }
}


.sideLeftClosed{
    .header-wrapper{
        .header-content{
            padding-left: 62px;
        }
    }
}