
#sidebar{
    z-index: 996;
    transform: translateX(0%)!important;
    position: fixed!important;
    height: calc(100%)!important;
    transition: transform 300ms ease-in-out;
    border: none;
    box-shadow: none;
    background: map-get($cores, 'azul-escuro');

    .sideButtom{
        position: relative;
        background: map-get($cores, 'azul-claro');
        width: 100%;
        min-height: 63px;
        a{
            position: absolute;
            right: 237px;
            top: 0;
            padding: 0;                      
            min-height: 63px;
            width: 63px;
            text-align: right;
            transition: right 300ms ease-in-out;
        }

        & + li{
        }
    }

    @media screen and ($mobile){
        transform: translateX(-100%)!important;
    }
}

.sideLeftClosed{
    #sidebar{
        transform: translateX(-238px)!important;

        @media screen and ($mobile){
            transform: translateX(-100%)!important;
        }

        .sideButtom{
            a{
                right: 0;
            }
        }
    }
}