
#sidebar{
    z-index: 999999;
    transform: translateX(0%)!important;
    position: fixed!important;
    height: calc(100%)!important;
    transition: transform 300ms ease-in-out;
    border: none;
    box-shadow: none;
    background: map-get($cores, 'azul-escuro');

    @media screen and ($mobile){
        overflow-y: visible;
    }

    li{
        a{
            font-family: 'folio_bold', sans-serif;
            padding: 0 15px 0 50px;
            color: white;
            font-size: 20px;
            line-height: 45px;
           
            transition: all 300ms ease-in-out 300ms;

            i{
                color: white;
                position: absolute;
                left: 15px;
                top: 0;
                transition: all 300ms ease-in-out 300ms;
            }
        }
    }

    .sideButtom{
        position: relative;
        background: map-get($cores, 'azul-claro');
        width: 100%;
        min-height: 63px;
        a{
            position: absolute;
            right: 237px;
            left: initial;
            top: 0;
            padding: 8px 0;                     
            min-height: 63px;
            width: 63px;
            text-align: right;
            transition: right 300ms ease-in-out 300ms;

            i{
                left: 0!important;
                color: white;
                position: relative;
                float: none;
                font-size: 25px;
                height: auto;
                line-height: 8px;
                margin: 0 auto;
                width: 24px;
                display: block;
                backface-visibility: hidden;
                &.dash1{
                    margin: -8px auto 0;
                    opacity: 0;
                    transition: margin-top 150ms ease-in-out 300ms, opacity 150ms ease-in-out 151ms; 
                }

                &.dash2{
                    transform: rotate(45deg);
                    margin-top: 15px;
                    margin-left: 25px;
                    transition: all 300ms ease-in-out 300ms;
                }

                &.dash3{
                    transform: rotate(-45deg);
                    margin-top: -7px;
                    margin-left: 13px;
                    transition: all 300ms ease-in-out 300ms;
                }
            }
        }

        & + li{
        }

        @media screen and ($mobile){
            right: 0px;
        }
    }
}

.sideLeftClosed{
    #sidebar{
        transform: translateX(-238px)!important;

        @media screen and ($mobile){
            transform: translateX(-100%)!important;
        }

        li{
            a{
                font-size: 0;
                line-height: 0;
                color: transparent;

                i{
                    font-size: 25px;
                    line-height: 50px;
                    left: 260px;
                }
            }
        }

        .sideButtom{
            @media screen and ($mobile){
                right: -62px;
            }
            
            a{
                right: 0;

                i{
                    font-size: 25px;
                    line-height: 8px;

                    &.dash1{
                        opacity: 1;
                        margin-top: 0;
                    }

                    &.dash2{
                        transform: rotate(0deg);
                        margin-top: 0px;
                        margin-left: auto;
                    }
    
                    &.dash3{
                        transform: rotate(0deg);
                        margin-top: 0px;
                        margin-left: auto;
                    }
                    
                }
            }
        }
    }
}

#account-sidebar{
    z-index: 9999999;

    .sidenav-close{
        padding: 0 15px;
    }

    .background{
        img{
            width: 100%;
            height: auto;
        }
    }

    .user-view{
        .circle {
            border-radius: 50%;
            height: 64px;
            width: 64px;
            display: block;
            margin: 0 auto;
        }
    }
}

.sidenav-overlay{
   z-index: 999999; 
}