<ul id="account-sidebar" id="slide-out" class="sidenav">
  <li><a class="sidenav-close" href="#!"><i class="material-icons">close</i></a></li>
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../images/blue-accountbg.jpg">
      </div>

      <a href="#user">
        <img class="circle" src="../../images/account.png">
      </a>

      <a href="#name"><span class="white-text name">Nome do usuário</span></a>
      <a href="#email"><span class="white-text email">email@domínio.com.br</span></a>
    </div>
  </li>
  <li><a class="waves-effect" href="#!">First Link</a></li>
  <li><a class="waves-effect" href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
  
