<footer class="footer-wrapper">
    <div class="row">
        <div class="col s6 uoldiveo-wrapper">
            <div class="logo-uoldiveo">
                <i class="bpag-UOLIcon"></i>&nbsp;<i class="bpag-uoldiveo"></i>
            </div>
        </div>

         <div class="col s6 copyright-wrapper">
            <p>Sistema de gestão de pagamentos v2.0</p>
        </div>
    </div>
</footer>