<header class="header-wrapper">
    <div class="row">
        <div class="col s2 l1 header-left">
            <a href="#" data-target="sidebar" class="menu-btn sidenav-trigger" title="menu"><i class="material-icons">menu</i></a>
        </div>
        <div class="col s8 l10 header-center">
            <div class="logo-wrapper">
                <div class="logo"><i class="grafismo"> </i>BPag</div>
            </div>
        </div>
        <div class="col s2 l1 header-right">
            <a href="#"data-target="account-sidebar" class="account-btn sidenav-trigger" title="minha conta"><i class="material-icons">account_circle</i></a>
        </div>
    </div>
</header>