<div class="view-report card">
    <div class="row">
        <div class="col s12 m3">
            <div class="stores">
                <div class="input-field">
                    <select id="stores" class="select">
                        <option value="Todas">Todas</option>
                        <option value="Loja 1">Loja 1</option>
                    </select>
                    <label for="stores"><i class="material-icons">store</i> <span>Loja</span></label>
                </div>
            </div>
            <div class="report-type">
                <div class="input-field">
                    <select id="reports" class="select">
                        <option value="Transações">Transações</option>
                        <option value="Relatório 1">Relatório 1</option>
                    </select>
                    <label for="reports">Tipo de relatório</label>
                </div>
            </div>
        </div>
        <div class="col s12 m9"></div>
    </div>
</div>