<ul id="sidebar" id="slide-out" class="sidenav sidenav-fixed">
  <li class="sideButtom">
    <a class="menu-btn" href="#!">
      <i class="far fa-window-minimize dash1"></i>
      <i class="far fa-window-minimize dash2"></i>
      <i class="far fa-window-minimize dash3"></i>
    </a>
  </li>

  
  <li class="search">
    <a href="#" class="waves-effect waves-search">Busca
      <i class="material-icons">search</i>
    </a>
  </li>
  <li class="admin"><a href="#" class="waves-effect waves-admin">Administradores<i class="material-icons">supervisor_account</i></a></li>
  <li class="report"><a href="#" class="waves-effect waves-report">Relatórios<i class="material-icons">content_paste</i></a></li>
  <li class="config"><a href="#" class="waves-effect waves-config">Configurações<i class="material-icons">settings</i></a></li>
  <li class="concil"><a href="#" class="waves-effect waves-concil">Conciliação<i class="material-icons">find_in_page</i></a></li>

</ul>
  
