<ul id="sidebar" id="slide-out" class="sidenav sidenav-fixed">
  <li class="sideButtom">
    <a class="menu-btn sidenav-trigger" href="#!">
      <i class="far fa-window-minimize dash1"></i>
      <i class="far fa-window-minimize dash2"></i>
      <i class="far fa-window-minimize dash3"></i>
    </a>
  </li>

  
  <li class="search"><a href="#" class="waves-effect waves-search">Busca</a></li>
  <li class="admin"><a href="#" class="waves-effect waves-admin">Administradores</a></li>
  <li class="report"><a href="#" class="waves-effect waves-report">Relatórios</a></li>
  <li class="config"><a href="#" class="waves-effect waves-config">Configurações</a></li>
  <li class="concil"><a href="#" class="waves-effect waves-concil">Conciliação</a></li>

</ul>
  
