<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="materialize.css">
        <link rel="stylesheet" href="highcharts.css">
    </head>
    <body class="home sideLeftClosed">
        <div id="main-div">
            {{> header }}               
            {{> sidebar }}
            {{> account-sidebar }}
            <section class="container main-content">
                {{> home/home-content }}
            </section>
            {{> footer }}
        </div>

    </body>
    <script src="materialize-bundle.js"></script>
</html>