<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="teste.css">
    </head>
    <body>
        <div id="main-div">
            {{> header }}
            
            <div class="content-wrapper">
               
                {{> sidebar }}
                <section class="main-content">
                    teste
                </section>
            </div>
            {{> footer }}
        </div>

    </body>
    <script src="materialize-bundle.js"></script>
    <script src="teste-bundle.js"></script>
</html>